[View in Colaboratory](https://colab.research.google.com/github/NgoDinh/Data-science/blob/master/odoo_report_material_temp.ipynb)

In [0]:
# -*- coding: utf-8 -*-
##############################################################################
#
#    OpenERP, Open Source Management Solution
#
##############################################################################
import time
import os
import base64
import pandas as pd
import psycopg2 as pg
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine
from openerp.osv import fields, osv
from openerp.tools.translate import _
from openerp.tools import DEFAULT_SERVER_DATE_FORMAT, DEFAULT_SERVER_DATETIME_FORMAT
from dateutil import parser

class report_online_performance(osv.osv_memory):
    
    _name = "report.online.performance"
    _columns = {
        'date_start': fields.date('Date From', required=True),
        'date_end': fields.date('Date To', required=True),
        'file_output':fields.binary(string="File Output",invisible=True, readonly=True, help='Output file in xlsx format'),
        'file_name':fields.char(string='File Name', invisible=True)
    }
    _defaults = {
         'date_start': time.strftime('%Y-%m-01'),
         'date_end': lambda *a: str(datetime.now() + relativedelta(months=+1, day=1, days=-1))[:10],
    }
    
#     def print_report(self, cr, uid, ids, context=None):
#         if context is None:
#             context = {}
#         datas = {'ids': context.get('active_ids', [])}
#         res = self.read(cr, uid, ids, ['date_start', 'date_end'], context=context)
#         res = res and res[0] or {}
#         datas['form'] = res
#         if res.get('id',False):
#             datas['ids']=[res['id']]
#         return {'type': 'ir.actions.report.xml', 'report_name': 'bc_doanh_thu_theo_location' , 'datas': datas}
    
    def print_excel(self, cr, uid, ids, context=None):

       
        #set date to query_data
        #============================================================================================#        
        datas = {'ids': context.get('active_ids', [])}
        date_start = self.read(cr, uid, ids, ['date_start'], context=context)
        date_start = date_start[0]['date_start']+' 00:00:00'
        date_end   = self.read(cr, uid, ids, ['date_end'], context=context)
        date_end   = date_end[0]['date_end']+' 23:59:59'
        out_path = '/tmp/bc_ban_material_%s.xlsx'%(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
        engine = pg.connect('postgresql://odoo:odoo@***:***/***')
        
        #Run report
        #============================================================================================# 
        #get data
        date_target = date_start
        query = '''
        --This query is used to get total sales, purchase and template by each category
        SELECT
        tmp_inv.*,
        tmp_sale.sales
        FROM
            (SELECT
            template.id||substr(prod.default_code,11,1)||tag.name as new_id,
            template.id,
            substr(prod.default_code,11,1),
            tmp.name as cat_name,
            tag.name as tag_name,
                template.name,
            sum(stock.product_uom_qty)::int as purchase
            FROM stock_move stock
                JOIN product_product prod ON prod.id = stock.product_id
                JOIN product_template template ON template.id = prod.product_tmpl_id
                JOIN 
                (SELECT id, name 
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('DEP NAM', 'GIAY NAM')) or name LIKE '%%MSD%%'
                UNION
                SELECT id, name
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('DEP NU', 'GIAY NU', 'SANDAL NU')) 
                UNION
                SELECT id, name 
                FROM product_category 
                WHERE  (name like '%%DEP%%' AND parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('TRE EM')))
                OR 
                  name like 'SANDAL (KSD)'
                OR
                   parent_id in
                        (SELECT id 
                        FROM product_category 
                        WHERE name in ('GIAY TRE EM'))
                UNION
                SELECT id, name 
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('PHU KIEN', 'PHU KIEN')) 
                ) as tmp on tmp.id = template.categ_id
                JOIN product_product_tag_rel tag_rel on template.id = tag_rel.tag_id
                JOIN product_tag as tag on tag_rel.product_id = tag.id
            WHERE stock.location_id in (select id from stock_location where usage ='supplier') 
                AND stock.location_dest_id in (19)
                AND (date(timezone('UTC',template.create_date::timestamp)) BETWEEN '%s' and now())  
                AND stock.state in ('done')
                AND template.name NOT LIKE '%%QT%%' AND prod.default_code NOT LIKE '%%QT%%'
                AND tag.name in ('da', 'si')
            Group By 1, 2, 3, 4, 5,6) tmp_inv
        LEFT JOIN 
            (select tmp.id||height||tag_name as new_id,tmp.categ_id,height,tag_name, sum(tmp.sales) as sales
            from
            (SELECT
            pt.id,substr(pp.default_code,11,1) as height,tag.name as tag_name,pt.categ_id,
            sum(sol.product_uom_qty)::int AS sales
            FROM sale_order_line sol
                LEFT JOIN sale_order so ON so.id = sol.order_id
                LEFT JOIN product_product pp ON pp.id = sol.product_id
                LEFT JOIN product_template pt on (pp.product_tmpl_id=pt.id)
                JOIN product_product_tag_rel tag_rel on pt.id = tag_rel.tag_id
                JOIN product_tag as tag on tag_rel.product_id = tag.id
            WHERE so.state NOT IN ('draft', 'sent', 'cancel') and (date(timezone('UTC',pt.create_date::timestamp)) BETWEEN '%s' and now())
                AND pt.name NOT LIKE '%%QT%%' AND pp.default_code NOT LIKE '%%QT%%'
                AND tag.name in ('da', 'si')
            Group by 1,2,3,4
            UNION
            SELECT pt.id,substr(pp.default_code,11,1) as height,tag.name as tag_name,pt.categ_id, sum(pol.qty)::int AS sales
            FROM pos_order_line pol
                LEFT JOIN pos_order po ON po.id = pol.order_id
                LEFT JOIN product_product pp ON pp.id = pol.product_id
                LEFT JOIN product_template pt on (pp.product_tmpl_id=pt.id)
                JOIN product_product_tag_rel tag_rel on pt.id = tag_rel.tag_id
                JOIN product_tag as tag on tag_rel.product_id = tag.id
            WHERE po.state IN ('paid', 'done', 'invoiced') and (date(timezone('UTC',pt.create_date::timestamp)) BETWEEN '%s' and now())
                AND pt.name NOT LIKE '%%QT%%' AND pp.default_code NOT LIKE '%%QT%%'
                AND tag.name in ('da', 'si')
            Group by 1,2,3,4) tmp
            where tmp.categ_id in
                (SELECT id
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('DEP NAM', 'GIAY NAM')) or name LIKE '%%MSD%%'
                UNION
                SELECT id
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('DEP NU', 'GIAY NU', 'SANDAL NU')) 
                UNION
                SELECT id
                FROM product_category 
                WHERE  (name like '%%DEP%%' AND parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('TRE EM')))
                OR 
                  name like 'SANDAL (KSD)'
                OR
                   parent_id in
                        (SELECT id 
                        FROM product_category 
                        WHERE name in ('GIAY TRE EM'))
                UNION
                SELECT id
                FROM product_category 
                WHERE parent_id in
                    (SELECT id 
                    FROM product_category 
                    WHERE name in ('PHU KIEN', 'PHU KIEN'))) 
            group by 1,2,3,4
            ) tmp_sale ON tmp_inv.new_id = tmp_sale.new_id
        '''%(date_target, date_target, date_target)

        engine = pg.connect('postgresql://odoo:odoo@188.166.188.173:5432/donghai-production')

        df = pd.read_sql(query, engine)
        df = df[(df['substr']=='0')|(df['substr']=='3')|(df['substr']=='5')|(df['substr']=='7')|(df['substr']=='9')]
        df = df[df['cat_name'].str.contains("DEP|GIAY|GIÀY|SANDAL|SAPO")]
        df.substr[df.substr == '0'] = '3'
        df = df.fillna(0)
        df['tag'] = df['tag_name'] + df['substr']
        df1 = pd.pivot_table(df, index='cat_name', columns='tag', values=['sales', 'name'], aggfunc={'name': 'count', 'sales':np.sum})
        df1 = df1.fillna(0)
        
        #Prepare format for excel file.
        #============================================================================================#
        writer = pd.ExcelWriter(out_path , engine='xlsxwriter')
        workbook  = writer.book
        worksheet1 = workbook.add_worksheet()

        df_da = df[df['tag_name']=='da']
        df_da = df_da.groupby(['cat_name','tag'])['sales'].mean()
        top_da = pd.DataFrame(df_da.nlargest(3)).reset_index()
        df_si = df[df['tag_name']=='si']
        df_si = df_si.groupby(['cat_name','tag'])['sales'].mean()
        top_si = pd.DataFrame(df_si.nlargest(3)).reset_index()

        low_si = df[df['tag_name']=='si']
        tmp = pd.DataFrame(low_si.groupby(['cat_name','tag'])['name'].size())
        tmp = tmp[tmp['name']>2].reset_index()
        tmp_1 = pd.DataFrame(low_si.groupby(['cat_name','tag'])['sales'].sum()).reset_index()
        low_si = tmp.merge(tmp_1, on=['cat_name', 'tag'], how='left')
        low_si['avg'] = low_si['sales']/low_si['name']
        low_si = pd.DataFrame(low_si.nsmallest(3,'avg')).reset_index()

        low_da = df[df['tag_name']=='da']
        tmp = pd.DataFrame(low_da.groupby(['cat_name','tag'])['name'].size())
        tmp = tmp[tmp['name']>2].reset_index()
        tmp_1 = pd.DataFrame(low_da.groupby(['cat_name','tag'])['sales'].sum()).reset_index()
        low_da = tmp.merge(tmp_1, on=['cat_name', 'tag'], how='left')
        low_da['avg'] = low_da['sales']/low_da['name']
        low_da = pd.DataFrame(low_da.nsmallest(3,'avg')).reset_index()

        merge_format = workbook.add_format({'bold': True, 'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31'})
        worksheet1.set_column('B:B', 25)
        worksheet1.set_column('C:C', 10)
        up = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'bottom':1, 'bg_color':'#FCE4D6'})
        down = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'top':1, 'bg_color':'#FCE4D6'})
        up_1 = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'bottom':1})
        down_1 = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'top':1})
        up_2 = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'bg_color':'#D9E1F2'})
        up_good = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'bottom':1,'font_color':'#006100', 'bg_color':'#C6EFCE'})
        down_good = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'top':1,'font_color':'#006100', 'bg_color':'#C6EFCE'})
        up_bad = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'bottom':1,'font_color':'red', 'bg_color':'#FFC7CE'})
        down_bad = workbook.add_format({'align':'vcenter', 'align':'center', 'border':5, 'border_color':'#ED7D31', 'top':1,'font_color':'red', 'bg_color':'#FFC7CE'})

        #write excel file
        #============================================================================================#

        for x in range(len(df1.columns.levels[1])):
            worksheet1.write("%s5"%(chr(68+x)),df1.columns.levels[1][x],up_2)
            if df1.columns.levels[1][x][:2] == 'da':
                for y in range(len(df1.index)):
                    worksheet1.merge_range('B%d:B%d'%(6+2*y,6+2*y+1), df1.index[y], merge_format)
                    worksheet1.write("C%d"%(6+2*y), u"Lượng bán",up)
                    worksheet1.write("C%d"%(6+2*y+1), u"Số mẫu",down)
                    if df1.index[y] in top_da.cat_name.values:
                        if top_da[top_da['cat_name']==df1.index[y]]['tag'].values[0]==df1.columns.levels[1][x]:
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_good)
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_good)
                        else:
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)
                    elif df1.index[y] in low_da.cat_name.values:
                        if low_da[low_da['cat_name']==df1.index[y]]['tag'].values[0]==df1.columns.levels[1][x]:
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_bad)
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_bad)
                        else:
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                            worksheet1.write_number("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)
                    else:
                        worksheet1.write_number("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                        worksheet1.write_number("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)

            if df1.columns.levels[1][x][:2] == 'si':
                for y in range(len(df1.index)):
                    worksheet1.merge_range('B%d:B%d'%(6+2*y,6+2*y+1), df1.index[y], merge_format)
                    worksheet1.write("C%d"%(6+2*y), u"Lượng bán",up)
                    worksheet1.write("C%d"%(6+2*y+1), u"Số mẫu",down)
                    if (df1.index[y] in top_si.cat_name.values):
                        if (top_si[top_si['cat_name']==df1.index[y]]['tag'].values[0]==df1.columns.levels[1][x]):
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_good)
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_good)
                        else:
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)
                    elif df1.index[y] in low_si.cat_name.values:
                        if low_si[low_si['cat_name']==df1.index[y]]['tag'].values[0]==df1.columns.levels[1][x]:
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_bad)
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_bad)
                        else:
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                            worksheet1.write("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)
                    else:
                        worksheet1.write("%s%d"%(chr(68+x),6+2*y),df1.iloc[y][len(df1.columns.levels[1])+x],up_1)
                        worksheet1.write("%s%d"%(chr(68+x),6+2*y+1),df1.iloc[y][x],down_1)

        writer.save()
        
        #Encode final file to binary and download it.
        #============================================================================================#
        
        PREVIEW_PATH = out_path
        encoded_string = ""     
        with open(PREVIEW_PATH, "r") as image_file:
            encoded_string = base64.encodestring(image_file.read())#.b64encode
        for order in self.browse(cr, uid, ids[0]):
            order.file_name = '%s.xlsx'%(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
            order.file_output = encoded_string
            data_id =  order.id
         
        return {
            'type': 'ir.actions.act_window',
            'res_model': 'report.online.performance',
            'view_mode': 'form',
            'view_type': 'form',
            'res_id': data_id,
            'views': [(False, 'form')],
            'target': 'new',
        }

# vim:expandtab:smartindent:tabstop=4:softtabstop=4:shiftwidth=4: