In [2]:
import pandas as pd
from numpy import *

In [3]:
cols_name = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
            "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
            "hours-per-week", "native-country", "income"]
data = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data',
                  names = cols_name)

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [6]:
data['education-num'].value_counts()

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education-num, dtype: int64

In [7]:
# education_dict = {' 1st-4th': 0, ' 5th-6th': 1, ' 7th-8th': 2, ' 9th': 3, ' 10th': 4, ' 11th': 5, ' 12th': 6, ' HS-grad': 7,
#                  ' Preschool': 8, ' Some-college': 9, ' Assoc-acdm': 10, ' Assoc-voc': 11, ' Bachelors': 12, ' Masters': 13,
#                  ' Doctorate': 14, ' Prof-school': 15}
# data['education'] = data['education'].map(education_dict)

In [8]:
data = data.drop(['education'], axis=1)

In [9]:
from sklearn.preprocessing import LabelBinarizer

encoder = LabelBinarizer()

def lb_encoder(data, column):
    encode_data = data[column]
    encoded_data = encoder.fit_transform(encode_data)
    encoded_data_cols_name = [column + x for x in encoder.classes_]
    encoded_data = pd.DataFrame(encoded_data, columns=encoded_data_cols_name)
    result = pd.concat([data.drop([column], axis=1), encoded_data], axis=1)
    return result

In [10]:
encode_cols = ['workclass', 'marital-status', 'relationship',
               'race', 'occupation', 'native-country']
for col in encode_cols:
    data = lb_encoder(data, col)

In [11]:
data['sex'] = data['sex'].apply(lambda x: 0 if x == ' Male' else 1)
data['income'] = data['income'].apply(lambda x: 0 if x == ' <=50K' else 1)

In [12]:
y = data['income']
X = data.drop(['income'], axis=1)

In [13]:
corr_table =X.astype(float).corr()

In [14]:
import numpy as np
for col in X.columns.values:
    if np.sort(corr_table[col])[-2] > 0.7:
        print(col, np.sort(corr_table[col])[-2],
             corr_table[col].mean())

workclass ? 0.997985412037 0.00451694176621
marital-status Married-civ-spouse 0.89321033313 -0.00354152130978
relationship Husband 0.89321033313 -0.00808432738647
occupation ? 0.997985412037 0.00513257299594

In [15]:
X = X.drop(['occupation ?', 'relationship Husband'], axis=1)

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [17]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(min_samples_split=15, min_samples_leaf=5,
                             random_state=1)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=15,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [18]:
y_predict = tree.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_predict)

In [20]:
score

0.83525257177951784